.chat-card {
  display: none;
}




#rate-site-card * .rating-icon {
    width:50px !important;
    height:50px !important;
    margin:auto;
  }



#hero {
   transition: all 1s linear;
}

#crawl-result {
  opacity: 1;
  transition: all 0.5s linear;
}


 @keyframes fadeIn {
   0% { opacity:0; }
  100% { opacity:1; }
 }

 .fade-in:last-of-type  {
   animation:fadeIn ease-in forwards 0.5s;
  }
