.chat-card {
  display: none;
}


#hero {
   transition: all 1s linear;
}

article {
     transition: all 1s linear;
}

@keyframes fadeOut {
  0% { opacity:0; }
  10%  { opacity:1;}
  90%  { opacity:1;}
 100% { opacity:0; }
}

.fade-out {
 animation:fadeOut ease-in forwards 5s;
 }

 @keyframes fadeIn {
   0% { opacity:0; }
  100% { opacity:1; }
 }

 .fade-in:last-of-type  {
  animation:fadeIn ease-in forwards 1s;
  }
