.round-box {

  border-radius: 12px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  background-color: #209cee;
  color: #fff;

  opacity: 0;

}

#hero {
   transition: all 2s linear;
}

@keyframes fadeOut {
  0% { opacity:0; }
  10%  { opacity:1;}
  90%  { opacity:1;}
 100% { opacity:0; }
}


.fade-out {
 animation:fadeOut ease-in forwards 5s;
 }



<!--

is-primary #00b89c
is-link #2366d1
is-info #209cee
is-success #20bc56
is-warning #ffd83d
is-danger #ff1f4b

-->
